* {
  margin: 0px;
  padding: 0px;
}

.video {
  positon:absolute;
  top:0;
  left:0;
  height: 640px;
  width: 480px;
}

.imagen {
  position:absolute;
  top:0;
  left:0;
  height: 640px;
  width: 480px;
  opacity: 0;
  z-index:999;
}
