<!DOCTYPE html>
<html lang="es" ng-app='espejoApp'>
    <head>
        <meta charset="utf-8"/>
        <meta name='viewport' content='width=device-width'/>

        <script type="text/javascript" src="angular/angular-1.3.8/angular.js"></script>
        <script type="text/javascript" src="espejo2.js"></script>

        <link rel="stylesheet" type="text/css" href="css/style2.css"/>
    </head>
    <body ng-controller='EspejoCtrl'>

      <img id='imagen1' src='mujer1.fw.png' class='imagen'></img>
      <img id='imagen2' src='mujer2.fw.png' class='imagen'></img>
      <!-- <img id='imagen2' src='img3.jpg' class='imagen'></img> -->
      <video autoplay class='video'></video>
      <button ng-click='boton()'>Camara</button>


      <input type="range" min="0.0" max="1.0" step='0.1' ng-model='s1' ng-change='sliderCambio1()'>
      <input type="range" min="0.0" max="1.0" step='0.1' ng-model='s2' ng-change='sliderCambio2()'>

      <div>
        <span>
          Indice de multiplicación<input type='number' ng-model='im'/>
        </span>

        <input type='checkbox' ng-model='usarAccelx'/><input type='text' ng-model='accel.x'/>
        <input type='checkbox' ng-model='usarAccely'/><input type='text' ng-model='accel.y'/>
        <input type='checkbox' ng-model='usarAccelz'><input type='text' ng-model='accel.z'/>

        <input type='checkbox' ng-model='usarAccelgx'/><input type='text' ng-model='accelg.x'/>
        <input type='checkbox' ng-model='usarAccelgy'/><input type='text' ng-model='accelg.y'/>
        <input type='checkbox' ng-model='usarAccelgz'><input type='text' ng-model='accelg.z'/>

        <input type='checkbox' ng-model='usarRotationA'/><input type='text' ng-model='rotation.alpha'/>
        <input type='checkbox' ng-model='usarRotationB'/><input type='text' ng-model='rotation.beta'/>
        <input type='checkbox' ng-model='usarRotationG'/><input type='text' ng-model='rotation.gamma'/>

        <input type='text' ng-model='interval'/>
      </div>
    </body>
</html>
